@import url("components/container.css");
@import url("components/banner.css");
@import url("components/section-white.css");
@import url("components/card.css");
@import url("components/button.css");
@import url("components/section-mission.css");
@import url("components/navbar.css");
@import url("components/footer.css");

html {
	display: block;
	font-family: 'Ubuntu', sans-serif;
}

body  {
  color: #00ffa2;
  margin: 0px;
}

a {
  text-decoration: none;
}

.button {
  font-size: 1em;
  padding: 10px;
  border: 2px solid #00ffa2;
  border-radius: 20px/50px;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.3s ease-out;
}
.button:hover {
  background: #00ffa2;
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}
.overlay:target {
  visibility: visible;
  opacity: 1;
}

.popup {
  margin: 70px auto;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  width: 30%;
  position: relative;
  transition: all 5s ease-in-out;
}

.popup h2 {
  margin-top: 0;
  color: #333;
}
.popup .close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}
.popup .close:hover {
  color: #06D85F;
}
.popup .content {
  max-height: 30%;
  overflow: auto;
}

@media screen and (max-width: 700px){
  .box{
    width: 70%;
  }
  .popup{
    width: 70%;
  }
}